<!DOCTYPE html>
<html>
<head>
<title>Flask Multiple Upload</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Upload Successful!</h1>

<a href="{{ url_for('index') }}">Back to front page</a><p>
{% if path %}
	<h2><a href='{{url}}explorerjs.html?file={{path}}'>View Phylograph in TinawebJS!</a></h2>
	<br><br>
{% endif %}

{% for file in files %}
    <h2>{{ file }}</h2>
    <img src="{{url}}/data/{{uuid}}/{{file}}"/>
{% endfor %}

</body>
</html>